#login-body {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F1FAEE), to(#457B9D));
  background-image: linear-gradient(#F1FAEE, #457B9D);
}

#btn-login {
  background-color: #1D3557 !important;
}

#icon-login {
  width: 25%;
  height: 30%;
}
