@charset "UTF-8";
#bg-registro-disciplinas {
  background-color: #457b9d;
  background-image: url("../images/bgimage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

/*Configurações do Cabeçalho*/
#logo-registro-disciplinas {
  height: 63px;
  width: 89px;
}

.navbar {
  background-color: #457b9d;
}

.navbar-brand {
  margin-left: 0px;
}

header .navbar-collapse {
  width: auto;
}

header .nav-link:hover {
  border-bottom: solid 4px White;
}

header .nav-link {
  border-bottom: solid 4px transparent;
}

.nav-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 0px;
  margin-right: 5px;
  padding-left: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Configurações dos Cards*/
div .row {
  padding-top: 1rem;
}

div .study-card {
  width: 18rem;
  -webkit-box-shadow: 1px 5px 20px #1d3557;
          box-shadow: 1px 5px 20px #1d3557;
}

/*Configurações de Rodapé*/
.container-fluid {
  background-color: #457b9d;
}

.text-center {
  background-color: #1d3557;
}
