.aboutpage-navcollapse{
    width: auto;
    
}

.aboutpage-link:hover{
     border-bottom: solid 4px rgb(241, 250, 238);
    }

    
.aboutpage-link{
        border-bottom: solid 4px transparent;
    }

.aboutpage-headerstyle{
    background-color: rgb(69, 123, 157);
}