.inicialpage-navcollapse{
    width: auto;
    
}

header {

    .inicialpage-link:hover{
     border-bottom: solid 4px $branco;
    }

    
    .inicialpage-link{
        border-bottom: solid 4px transparent;
    }
}

.inicialpage-headerstyle{
    background-color: rgb(29, 53, 87);
}
