body,
html {
  font-family: 'Roboto', sans-serif;
}


#aboutpage-fundo {
    background-color: #457b9d;
    background-image: url("../images/bgimage.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

@import './header';

  .aboutpage-margem{
      margin-top:70px;
  }

  @import './aboutcards';

  @import './footer';
