@import url('bootstrap.min.css');

#bg-registro-disciplinas {
    background-color: #457b9d;
    background-image: url("../images/bgimage.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

// Variáveis
$primary-color: rgb(29, 53, 87);
$secundary-color: rgb(69, 123, 157);

/*Configurações do Cabeçalho*/
#logo-registro-disciplinas {
    height: 63px;
    width: 89px;
}

@import './header';

/*Configurações dos Cards*/
div {
    .row {
        padding-top: 1rem;
    }

    .study-card{
        width: 18rem;
    box-shadow: 1px 5px 20px $primary-color;
    }
}

/*Configurações de Rodapé*/
@import 'footer';


