#header .navbar-collapse{
    width: auto;
    
}

header {

    .nav-link:hover{
     border-bottom: solid 4px $branco;
    }

    
    .nav-link{
        border-bottom: solid 4px transparent;
    }
}