/* Alterando a fonte */
body,
html{
    font-family: 'Roboto', sans-serif;
}

#header .navbar-collapse{
    width: auto;
}

#imgfundo{
    background-color: rgb(243, 243, 243);
    background-image: url("http://willerk.vteximg.com.br/arquivos/ids/188440/Papel-de-Parede-Disney-Fundo-do-mar-DI0957.jpg?v=637257672634830000");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

 /* Cabeçalho */

header .nav-link:hover{
    border-bottom: solid 4px rgb(243, 243, 243);
}

header .nav-link{
    border-bottom: solid 4px transparent;
}


/* Configurações dos cards */

.infocard {
    box-shadow: 1px 5px 20px rgb(9, 77, 82); 
}



 /* Parte do slide */

#carouselExampleIndicators .carousel-caption {
    top: 25%;
}

#carouselExampleIndicators .carousel-inner, #carouselExampleIndicators .carousel-item { 
    height: 80vh; /* Tamanho da altura do slide */
}

/* margem e fonte h2 no slide*/
#carouselExampleIndicators .carousel-caption h2{
    margin-bottom:25px; 
    font-size: 60px;
}

/* Configurações de p no slide*/
#carouselExampleIndicators .carousel-caption p{
    font-weight: 300;
    margin-bottom:80px;
    font-size: 25px;
    color: rgb(255, 255, 255); 
}

/* Cor das barras da parte debaixo do slide */
.carousel-indicators .active {
    background-color: rgb(255, 115, 0); 
}


/* Cnfigurações do botão sem estar com mouse flutuando sobre */
.main-btn {
    background-color: rgb(255, 115, 0); 
    color: rgb(243, 243, 243);
    text-transform: uppercase;
    width: 200px;
    height: 20px;
    padding: 15px 25px;
    border-radius:40px;
    border: 4px solid transparent;
    transition: .5s;
}

 /* configurações com mouse flutuando sobre o botão */
 .main-btn:hover {
    text-decoration: none; 
    color:rgb(243, 243, 243);
    background-color: transparent;
    border-color: rgb(59, 48, 37);
 }

 /* Margem */

 .margem1{
    margin-top: 150px;
 }
