@import './comandos';

/* Alterando a fonte */
body,
html{
    font-family: 'Roboto', sans-serif;
}

#header .navbar-collapse{
    width: auto;
}

#imgfundo{
    background-color: $azulclaro;
    background-image: url("http://willerk.vteximg.com.br/arquivos/ids/188440/Papel-de-Parede-Disney-Fundo-do-mar-DI0957.jpg?v=637257672634830000");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Cabeçalho */

@import './cabecalho';

/* Configurações dos cards */

.infocard {
    box-shadow: 1px 5px 20px $escuro; 
}


@import './slides';
 

 /* Margem */

 .margem1{
    margin-top: 150px;
 }

 @media (min-width: 1030px){

    #carouselExampleIndicators .carousel-inner, #carouselExampleIndicators .carousel-item { 
      height: 80vh; 
    }
    
    #carouselExampleIndicators .carousel-caption h2{
      margin-bottom:25px; 
      font-size: 60px;
    }
    
    
    #carouselExampleIndicators .carousel-caption p{
      font-weight: 300;
      margin-bottom:80px;
      font-size: 25px;
    }
    }



@media (max-width: 800px) {
    h1 {
      font-size: 28px;
    }
    h3 {
      font-size: 16px;
    }

    h4{
        font-size:16px;
    }
    
    h5{
        font-size: 16px;
    }

    p{
        font-size: 13px;
    }

    
  }
