$cols: 3, 6;
$color-bg-notes: #a8dadc;
$color-bg-main-nav: #457b9d;
$note-border-color: #457b9d;

body {
    font-family: 'Roboto', sans-serif;
}

#main-container {
    position: relative;
    min-height: 100vh;
    background-color: lightblue;
    background-image: url("http://willerk.vteximg.com.br/arquivos/ids/188440/Papel-de-Parede-Disney-Fundo-do-mar-DI0957.jpg?v=637257672634830000");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#notes-container {
    padding-bottom: 120px;
}

.note-title {
    padding-left: 5px;
    max-width: inherit;
    padding-right: 80px;
    overflow-wrap: break-word;
}

.note-change {
    padding-left: 5px;
    max-width: inherit;
    padding-right: 130px;
    overflow-wrap: break-word;
}

.note-creation {
    padding-left: 5px;
    max-width: inherit;
    padding-right: 104px;
    overflow-wrap: break-word;
}

.col-title {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-style: solid;
    border-width: 4px 2px 4px 4px;
}

.col-change {
    border-width: 4px 2px 4px 2px;
    border-style: solid;
}

.col-creation {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-style: solid;
    border-width: 4px 4px 4px 2px;
}

#create-note {
    padding: 40px 0 0 0;
    font-weight: bold;
}

#create-button {
    border-style: solid;
    border-width: 4px;
    border-color: $note-border-color;
    background-color: $color-bg-notes;
    color: $note-border-color;
    transition: background-color 0.3s ease-out;
    &:hover {
        color: $note-border-color;
        background-color: darken($color-bg-notes, 10%);
    }
}

.hiperlink-nota {
    color: black;
    text-decoration: none;
    &:hover {
        color: black;
        @each $size in $cols {
            .col-#{$size} {
                background-color: darken($color-bg-notes, 10%);
            }
        }
    }
}



.container {
    .row {
        margin: 20px 0px 10px 0px;
        background-color: transparent;
    }

    @each $size in $cols {
        .col-#{$size} {
            background-color: $color-bg-notes;
            border-color: $note-border-color;
            transition: background-color 0.3s ease-out;
            padding: 10px 0px;
            display: flex;
            align-items: center;

            .note-information {
                font-weight: bold;
                padding-left: 10px;
            }
        }
        
    }
}