@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
    @each $size in $cols {
        .col-#{$size} {
            width: 100%;
        }
    }
    .col-title {
        border-width: 4px 4px 2px 4px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0;
    }
    .col-change {
        border-width: 2px 4px 2px 4px;
    }
    .col-creation {
        border-width: 2px 4px 4px 4px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
    }
}

@media (max-width: 260px) {
    .col-3, .col-6 {
        flex-direction: column;
        align-items: center;
    }
    .note-title, .note-change, .note-creation {
        padding: 0;
    }
}

@media (max-width: 200px) {
    .nav-brand {
        flex-direction: column;
    }
}

// Fontes


@media (max-width: 650px) {
    body {
        font-size: 0.95em;
    }
}

@media (max-width: 300px) {
    body {
        font-size: 0.9em;
    }
}
